<p>
Idea original y realización:
</p>

<p class="credits-bottom">
Andrea Ruiz
</p>
<br>

<p>
Con la participación de:
</p>

<ul class="credits-columns">
<li>Anónima</li>
<li>Vanesa</li>
<li>Karina</li>
<li>Marina</li>
<li>Eztizen</li>
<li>Miu</li>
<li>Airis HG</li>
<li>Gloriaipau</li>
<li>Estela</li>
<li>Davinia</li>
<li>Anónima</li>
<li>Berta</li>
<li>Marta</li>
<li>Anónima</li>
<li>Juapa</li>
<li>Bel</li>
<li>Candela</li>
<li>Gialla Farfalla</li>
<li>Xèe</li>
<li>Ane Ruiz</li>
<li>Ana Gago</li>
<li>Anónima</li>
<li>Laura Carrot</li>
<li>Anónima</li>
<li>Exclava pel pes</li>
<li>Dunia</li>
<li>Dina</li>
<li>Maria</li>
<li>Anónima</li>
<li>Bárbara</li>
<li>Anónima</li>
<li>Cèlia</li>
<li>Laura</li>
<li>Marta</li>
<li>Núria</li>
<li>Helena</li>
<li>Viu i somriu</li>
<li>Cristina</li>
<li>Noemí Dadá</li>
<li>Carla</li>
<li>LGO</li>
<li>Anònima</li>
<li>María</li>
<li>Natalia</li>
<li>Aurélie</li>
<li>Irune</li>
<li>Laura</li>
<li>Anònima</li>
<li>Alba Hache</li>
<li>Laura</li>
<li>Bel</li>
<li>Anónima</li>
<li>Laura</li>
<li>My Best Period</li>
<li>Anònima</li>
<li>Núria</li>
<li>Ana M.</li>
<li>BexterTC</li>
<li>Andrea</li>
</ul>



<br>
<br>

<div class="credits-bottom">
<p>
¡Gracias!
</p>

<p>
este proyecto no habría sido posible sin todas vosotras
</p>
</div>