<nav class="topnav" id="topnav">
  <a href="javascript:void(0);" class="menu-icon" onclick="openNav()">
      <i class="fa fa-bars"></i>
  </a>
  <div class="overlay" id="overlay">
    <div class="close-button-wrapper">
        <a href="javascript:void(0)" class="close-button" onclick="closeNav()">
            <i class="fa fa-remove"></i>
        </a>
    </div>
    <div class="overlay-content" id="overlay-content">
      <a href="#project" class="menu-item active">Proyecto</a>
      <a href="#pictures" class="menu-item">Imagenes</a>
      <a href="#credits" class="menu-item">Créditos</a>
      <a href="#about" class="menu-item">Contacto</a>
    </div>
  </div>
</nav>
<script src="static/js/nav.js"></script>