<div class="cover-image-wrapper">
    <img src="/static/pictures/cover-image-no-fill.png" class="cover-image">
</div>

<p>
Anatomía del confinamiento es un proyecto fotográfico de autorretrato corporal durante el confinamiento debido al COVID-19.
</p>

<p>
Consiste en una recopilación de imágenes de cuerpos o fragmentos de cuerpos de diferentes personas leídas como mujeres. La intención es visibilizar la diversidad corporal, reivindicar el amor por nuestros cuerpos y criticar los mensajes que el sistema arroja sobre nuestro físico.
</p>

<p>
Nadie debe decirnos cómo tenemos que ser, ¡y menos durante una pandemia mundial! Hartas de oír y leer frases como: Manténte delgada para cuando salgas a la calle, ahora que tienes tiempo ponte en forma, baja de peso estando en casa, tratamientos de belleza para estar guapa al final de la cuarentena... etc. Anatomía del confinamiento pretende ser una herramienta de lucha contra la violencia de los cuerpos durante la cuarentena.
</p>

<p>
En las imágenes podemos observar cómo perciben sus cuerpos confinados 61 mujeres de diferentes lugares. Acompañando a las fotos están el lugar donde han pasado el confinamiento y el número de días que llevan confinadas en el momento de autoretratarse.
</p>