<!DOCTYPE html>
<html class="no-js" lang="en-US" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb#">
<head>
    <meta charset="utf-8">

    {{ partial "meta.html" . }}

    <base href="{{ .Site.BaseURL }}">
    <title>{{ .Site.Title }}</title>
    <link rel="canonical" href="{{ .Permalink }}">

    {{ partial "head_includes.html" . }}
</head>
{{ partial "header.html" . }}

<div class="main" id="main">
  {{ partial "main.html" }}
</div>


{{ partial "footer.html" }}

<aside id="meta"> </aside>
